## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From c:\Users\sohai\.conda\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df= application_df.drop(['EIN', 'NAME'], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
value_counts= df['APPLICATION_TYPE'].value_counts()
print(value_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 10
application_types_to_replace = value_counts[value_counts < cutoff_value].index.tolist()

print(application_types_to_replace)

['T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts= df["CLASSIFICATION"].value_counts()
print(classification_value_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than_one= classification_value_counts[classification_value_counts > 1]
print(greater_than_one)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 10
classifications_to_replace = greater_than_one[greater_than_one > cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

Other    34181
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C3200        2
C1234        2
C1256        2
C1246        2
C1267        2
C2190        1
C4200        1
C6100        1
C5200        1
C1370        1
C2600        1
C1900        1
C1820        1
C1248        1
C1236        1
C1283        1
C2570        1
C1580        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
get_dummies = pd.get_dummies(df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

# Display the result
get_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
X = get_dummies
y = get_dummies['IS_SUCCESSFUL']


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len( X_train_scaled[0])
hidden_nodes_layer1=10
hidden_nodes_layer2=8
hidden_nodes_layer3=16

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation='relu'))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                880

 dense_7 (Dense)             (None, 8)                 88

 dense_8 (Dense)             (None, 1)                 9

=================================================================

Total params: 977 (3.82 KB)
Trainable params: 977 (3.82 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.2141 - accuracy: 0.9132
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0184 - accuracy: 0.9979
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0056 - accuracy: 0.9988
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0030 - accuracy: 0.9993
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0018 - accuracy: 0.9994
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 0.9995
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0011 - accuracy: 0.9995
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 9.5803e-04 - accuracy: 0.9995
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 7.1384e-04 - accuracy: 0.9997
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 6.9959e-04 - accuracy: 0.9997
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0013 - accuracy: 0.9996
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 5.3942e-04 - accuracy: 0.9998
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 4.9224e-04 - accuracy: 0.9997
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 4.3736e-04 - accuracy: 0.9998
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 3.9448e-04 - accuracy: 0.9998
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 2.7114e-04 - accuracy: 0.9999
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 4.4044e-04 - accuracy: 0.9997
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 2.7252e-04 - accuracy: 0.9998
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 2.7555e-04 - accuracy: 0.9999
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 2.5284e-04 - accuracy: 0.9999
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 2.1912e-04 - accuracy: 0.9998
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 2.2349e-04 - accuracy: 0.9999
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 3.3191e-04 - accuracy: 0.9999
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0013 - accuracy: 0.9996
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 6.2449e-04 - accuracy: 0.9999
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 8.8049e-04 - accuracy: 0.9999
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 2.9017e-04 - accuracy: 0.9998
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 7.9891e-04 - accuracy: 0.9998
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 1.9362e-04 - accuracy: 0.9999
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4497e-04 - accuracy: 1.0000
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 1.7635e-04 - accuracy: 0.9999
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 1.5412e-04 - accuracy: 0.9999
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 1.6137e-04 - accuracy: 0.9999
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4843e-04 - accuracy: 0.9999
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4341e-04 - accuracy: 0.9999
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 1.7501e-04 - accuracy: 0.9999
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2669e-04 - accuracy: 0.9999
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2834e-04 - accuracy: 0.9999
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 1.1426e-04 - accuracy: 0.9999
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 2.7531e-04 - accuracy: 0.9999
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 2.0659e-04 - accuracy: 0.9999
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 2.1568e-04 - accuracy: 0.9999
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 1.7167e-04 - accuracy: 0.9999
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 1.0720e-04 - accuracy: 1.0000
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 9.5507e-05 - accuracy: 1.0000
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 1.0663e-04 - accuracy: 0.9999
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 1.0154e-04 - accuracy: 1.0000
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 8.0013e-05 - accuracy: 1.0000
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 1.0737e-04 - accuracy: 0.9999
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 1.0827e-04 - accuracy: 0.9999
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 1.0697e-04 - accuracy: 1.0000
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 7.2988e-05 - accuracy: 1.0000
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 6.6731e-05 - accuracy: 1.0000
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 7.6226e-05 - accuracy: 1.0000
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 1.1058e-04 - accuracy: 0.9999
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 5.2153e-05 - accuracy: 1.0000
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 8.8477e-05 - accuracy: 1.0000
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 1.9935e-04 - accuracy: 0.9999
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 5.7923e-05 - accuracy: 1.0000
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 6.1689e-05 - accuracy: 1.0000
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 5.2113e-05 - accuracy: 1.0000
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 6.5140e-05 - accuracy: 1.0000
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 4.8406e-05 - accuracy: 1.0000
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 6.4706e-05 - accuracy: 1.0000
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 3.7203e-05 - accuracy: 1.0000
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 3.5936e-05 - accuracy: 1.0000
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 5.3917e-05 - accuracy: 1.0000
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4848e-04 - accuracy: 0.9999
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 8.9607e-05 - accuracy: 1.0000
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 8.2816e-05 - accuracy: 1.0000
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 8.4667e-05 - accuracy: 1.0000
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 7.4968e-05 - accuracy: 1.0000
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 8.0817e-05 - accuracy: 1.0000
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 1.1378e-04 - accuracy: 0.9999
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 6.4952e-05 - accuracy: 1.0000
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 6.4733e-05 - accuracy: 1.0000
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 6.3020e-05 - accuracy: 1.0000
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 6.4007e-05 - accuracy: 1.0000
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 8.7274e-05 - accuracy: 0.9999
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 8.1225e-05 - accuracy: 1.0000
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 6.6974e-05 - accuracy: 1.0000
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 6.1548e-05 - accuracy: 1.0000
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 6.1323e-05 - accuracy: 1.0000
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 6.0955e-05 - accuracy: 1.0000
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 6.0469e-05 - accuracy: 0.9999
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 6.6826e-05 - accuracy: 1.0000
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 9.7733e-05 - accuracy: 0.9999
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 7.0076e-05 - accuracy: 1.0000
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 5.8469e-05 - accuracy: 1.0000
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 5.8723e-05 - accuracy: 0.9999
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 5.9097e-05 - accuracy: 0.9999
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 5.8642e-05 - accuracy: 0.9999
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 5.8958e-05 - accuracy: 0.9999
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 6.0177e-05 - accuracy: 1.0000
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 1.9644e-04 - accuracy: 0.9999
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 6.9083e-05 - accuracy: 0.9999
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 5.9918e-05 - accuracy: 1.0000
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 5.8423e-05 - accuracy: 0.9999
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 5.8749e-05 - accuracy: 0.9999
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 5.8467e-05 - accuracy: 0.9999

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.0055 - accuracy: 0.9995 - 426ms/epoch - 2ms/step
Loss: 0.00547907454892993, Accuracy: 0.9995335340499878

In [27]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

# Download the model file
print("Model saved to: AlphabetSoupCharity.h5")

Model saved to: AlphabetSoupCharity.h5

c:\Users\sohai\.conda\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(